.follow {
    display: flex;
    align-items: center;
    padding: 12px;

    &__image {
        cursor: pointer;
        min-height: $image__height;
        min-width: $image__width;
        overflow: hidden;
        border-radius: 9999px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .1s;

        &--image {
            height: $image__height;
        }
        &:hover {
            background-color: rgba(0, 0, 0, .1);
        }
    }
    &__info {
        cursor: pointer;
        margin: 0 12px;

        &--name {
            font-weight: 700;
            font-size: 15px;

            &:hover {
                text-decoration: underline;
            }
        }
        &--username {
            color: gray;
        }
    }
    &__option {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &:hover {
        background-color: $background__color;
    }
}