.follower {
    position: relative;
    display: flex;
    align-items: center;
    
    &__modal {
        overflow-y: scroll;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &--container {
            position: fixed;
            min-width: 400px;
            cursor: auto;
            z-index: 3;
            padding: 12px 0;
            border-radius: 16px;
            background-color: white;
            box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;

            .follower__container {
                &--header {
                    display: flex;
                    align-items: center;
                    padding: 0 12px;

                    .follower__header{
                        &--back {
                            cursor: pointer;
                            border-radius: 9999px;
                            padding: 7px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:hover {
                                background-color: $background__color;
                            }
                        }
                        &--icon {
                            width: 24px;
                        }
                        &--title {
                            flex: 1;
                            text-align: center;
                            font-weight: 700;
                            font-size: 20px;
                        }
                    }
                }
                &--body {}
            }
        }
        &--close {
            cursor: auto;
            position: fixed;
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            z-index: 2;
            background-color: rgba(0, 0, 0, .25);
        }
    }
}