.profile__modal {

    &--main {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 20px 0 0 0;
        text-align: left;

        .profile__modal {
            &--container {
                min-width: 600px;
                cursor: auto;
                z-index: 3;
                width: 250px;
                padding: 12px 0;
                border-radius: 16px;
                background-color: white;
                box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;

                .profile__container {
                    &--header {
                        display: flex;
                        align-items: center;
                        padding: 0 12px;

                        .profile__header {
                            &--back {
                                cursor: pointer;
                                border-radius: 9999px;
                                padding: 7px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                .profile__header--icon {
                                    width: 24px;
                                }
                                &:hover {
                                    background-color: $background__color;
                                }
                            }
                            &--info {
                                flex: 1;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            &--title {
                                text-align: center;
                                font-weight: 700;
                                font-size: 20px;
                                margin: 0 0 16px 0;
                            }
                        }
                    }
                    &--body {
                        padding: 16px 12px;

                        .profile__body {
                            &--info {
                                display: flex;
                                align-items: center;
                                margin: 0 0 16px 0;

                                .profile__info {
                                    &--image {
                                        position: relative;
                                        border: 4px solid white;
                                        box-shadow: 0 0 6px;
                                        min-width: 120px;
                                        min-height: 120px;
                                        overflow: hidden;
                                        border-radius: 9999px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin: 0 12px 0 0;
                                        transition: .1s;

                                        .profile__image {
                                            height: 120px;
                                            z-index: -1;

                                            &--label {
                                                position: absolute;
                                            }
                                            &--icon {
                                                cursor: pointer;
                                                display: none;
                                                color: white;
                                                padding: 8px;
                                                border-radius: 9999px;
                                                background-color: rgba(0, 0, 0, 0.5);
                                            }
                                            &--input {
                                                display: none;
                                            }
                                        }
                                        &:hover {
                                            background-color: rgba(0, 0, 0, .1);

                                            .profile__image {
    
                                                &--icon {
                                                    display: block;
                                                }
                                            }
                                        }
                                    }
                                    &--text {
                                        flex: 1;
                                        text-align: left;

                                        .profile__text {
                                            &--name {
                                                border: 1px solid $border__color--profile;
                                                margin: 12px 0;
                                                border-radius: 6px;

                                                .profile__name {
                                                    &--input {
                                                        border: none;
                                                        border-radius: 6px;
                                                        outline: none;
                                                        font-weight: 700;
                                                        font-size: 24px;
                                                    }
                                                }
                                            }
                                            &--username {
                                                display: flex;
                                                align-items: center;
                                                border: 1px solid $border__color--profile;
                                                margin: 12px 0;
                                                border-radius: 6px;

                                                .profile__username {
                                                    &--label {
                                                        font-weight: 600;
                                                        color: gray;
                                                        font-size: 20px;
                                                    }
                                                    &--input {
                                                        border: none;
                                                        border-radius: 6px;
                                                        outline: none;
                                                        font-weight: 600;
                                                        color: gray;
                                                        font-size: 20px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &--element {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: flex-start;
                                margin: 0 0 16px 0;

                                .profile__body {
                                    &--label {
                                        margin: 0 0 6px 0;
                                        font-weight: 700;
                                        font-size: 15px;
                                    }
                                    &--input {
                                        resize: none;
                                        align-self: center;
                                        width: 75%;
                                        border: 1px solid $border__color--profile;
                                        outline: none;
                                        border-radius: 6px;
                                        font-size: 15px;
                                        padding: 12px 16px;
                                    }
                                    &--birthday {
                                        width: 25%;
                                    }
                                }
                                &:nth-last-child(1) {
                                    margin: 0;
                                }
                            }
                        }
                    }
                    &--footer {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        padding: 16px 12px;
                        
                        .profile__footer {
                            &--element {
                                cursor: pointer;
                                background-color: rgb(29, 155, 240);
                                border: none;
                                color: white;
                                font-weight: 900;
                                border-radius: 30px;
                                width: 80px;
                                height: 40px;
                                margin: 0 8px;
                                flex-grow: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
            &--close {
                background-color: rgba(0, 0, 0, 0.25);
                cursor: auto;
                position: fixed;
                height: 100vh;
                width: 100vw;
                top: 0;
                left: 0;
                z-index: 2;
            }
        }


    }
}