/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
}

a:visited {
  color: black;
  text-decoration: none;
}

textarea {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.admin__tool {
  display: flex;
  flex-wrap: wrap;
}
.admin__tool--element {
  flex: 1 1;
  margin: 25px;
  padding: 12px;
}
.admin__tool--element .admin__element--header {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 6px 0;
  margin: 0 0 6px 0;
  border-bottom: 1px solid rgb(239, 243, 244);
}
.admin__tool--element .admin__element--main {
  max-height: 350px;
  overflow-y: scroll;
}

.admin__tool--element .admin__group--main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-top: 1px solid rgb(239, 243, 244);
  border-bottom: 1px solid rgb(239, 243, 244);
}
.admin__tool--element .admin__group--main .admin__main--profile {
  display: flex;
  align-items: center;
  width: 200px;
}
.admin__tool--element .admin__group--main .admin__main--profile .admin__profile--image {
  margin: 0 12px;
  min-height: 48px;
  min-width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  transition: 0.1s;
}
.admin__tool--element .admin__group--main .admin__main--profile .admin__profile--image .admin__image {
  height: 48px;
}
.admin__tool--element .admin__group--main .admin__main--profile .admin__profile--image:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.admin__tool--element .admin__group--main .admin__main--profile .admin__profile--text .admin__text--name {
  font-weight: 700;
}
.admin__tool--element .admin__group--main .admin__main--profile .admin__profile--text .admin__text--name:hover {
  text-decoration: underline;
}
.admin__tool--element .admin__group--main .admin__main--profile .admin__profile--text .admin__text--username {
  color: rgb(83, 100, 113);
}
.admin__tool--element .admin__group--main .admin__main--rol {
  font-weight: 700;
  font-style: italic;
}
.admin__tool--element .admin__group--main .admin__main--options {
  display: flex;
  flex-direction: column;
}
.admin__tool--element .admin__group--main .admin__main--options .admin__option--element {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.admin__tool--element .admin__group--main .admin__main--options .admin__option--element .admin__element--icon {
  border-radius: 9999px;
}
.admin__tool--element .admin__group--main .admin__main--options .admin__option--element .admin__element--icon:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.admin__tool--element .admin__group--main .admin__main--options .admin__option--element .disable {
  color: gray;
  cursor: auto;
}
.admin__tool--element .admin__group--main .admin__main--options .admin__option--element .disable:hover {
  background: none;
}
.admin__tool--element .admin__group--main:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.admin__tool--element .admin__group--main:nth-child(1) {
  border-top: none;
}
.admin__tool--element .admin__group--main:nth-last-child(1) {
  border-bottom: none;
}

.admin__tool--element .admin__repost--main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-top: 1px solid rgb(239, 243, 244);
  border-bottom: 1px solid rgb(239, 243, 244);
}
.admin__tool--element .admin__repost--main .admin__main--profile {
  display: flex;
  align-items: center;
  width: 200px;
  margin: 0 12px 0 0;
}
.admin__tool--element .admin__repost--main .admin__main--profile .admin__profile--image {
  margin: 0 12px;
  min-height: 48px;
  min-width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  transition: 0.1s;
}
.admin__tool--element .admin__repost--main .admin__main--profile .admin__profile--image .admin__image {
  height: 48px;
}
.admin__tool--element .admin__repost--main .admin__main--profile .admin__profile--image:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.admin__tool--element .admin__repost--main .admin__main--profile .admin__profile--text .admin__text--name {
  font-weight: 700;
}
.admin__tool--element .admin__repost--main .admin__main--profile .admin__profile--text .admin__text--name:hover {
  text-decoration: underline;
}
.admin__tool--element .admin__repost--main .admin__main--profile .admin__profile--text .admin__text--username {
  color: rgb(83, 100, 113);
}
.admin__tool--element .admin__repost--main .admin__main--reason {
  flex: 1;
}
.admin__tool--element .admin__repost--main .admin__main--reason .admin__reason--text {
  text-align: justify;
}
.admin__tool--element .admin__repost--main .admin__main--options {
  display: flex;
  flex-direction: column;
}
.admin__tool--element .admin__repost--main .admin__main--options .admin__option--element {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.admin__tool--element .admin__repost--main .admin__main--options .admin__option--element .admin__element--icon {
  padding: 6px;
  border-radius: 9999px;
}
.admin__tool--element .admin__repost--main .admin__main--options .admin__option--element .admin__element--icon:hover {
  color: rgb(29, 155, 240);
  background-color: rgba(15, 20, 25, 0.1);
}
.admin__tool--element .admin__repost--main:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.admin__tool--element .admin__repost--main:nth-child(1) {
  border-top: none;
}
.admin__tool--element .admin__repost--main:nth-last-child(1) {
  border-bottom: none;
}

.admin__tool--element .admin__warning--main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-top: 1px solid rgb(239, 243, 244);
  border-bottom: 1px solid rgb(239, 243, 244);
}
.admin__tool--element .admin__warning--main .admin__main--profile {
  display: flex;
  align-items: center;
  width: 200px;
}
.admin__tool--element .admin__warning--main .admin__main--profile .admin__profile--image {
  margin: 0 12px;
  min-height: 48px;
  min-width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  transition: 0.1s;
}
.admin__tool--element .admin__warning--main .admin__main--profile .admin__profile--image .admin__image {
  height: 48px;
}
.admin__tool--element .admin__warning--main .admin__main--profile .admin__profile--image:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.admin__tool--element .admin__warning--main .admin__main--profile .admin__profile--text .admin__text--name {
  font-weight: 700;
}
.admin__tool--element .admin__warning--main .admin__main--profile .admin__profile--text .admin__text--name:hover {
  text-decoration: underline;
}
.admin__tool--element .admin__warning--main .admin__main--profile .admin__profile--text .admin__text--username {
  color: rgb(83, 100, 113);
}
.admin__tool--element .admin__warning--main .admin__main--count {
  font-weight: 700;
  font-style: italic;
}
.admin__tool--element .admin__warning--main .admin__main--count .admin__count--2 {
  color: orange;
}
.admin__tool--element .admin__warning--main .admin__main--count .admin__count--3 {
  color: red;
}
.admin__tool--element .admin__warning--main .admin__main--options {
  display: flex;
  flex-direction: column;
}
.admin__tool--element .admin__warning--main .admin__main--options .admin__option--element {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.admin__tool--element .admin__warning--main .admin__main--options .admin__option--element .admin__element--icon {
  padding: 6px;
  border-radius: 9999px;
}
.admin__tool--element .admin__warning--main .admin__main--options .admin__option--element .admin__element--icon:hover {
  color: orange;
  background-color: rgba(15, 20, 25, 0.1);
}
.admin__tool--element .admin__warning--main .admin__main--options .admin__option--element .disable {
  color: gray;
  cursor: auto;
}
.admin__tool--element .admin__warning--main .admin__main--options .admin__option--element .disable:hover {
  background: none;
}
.admin__tool--element .admin__warning--main:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.admin__tool--element .admin__warning--main:nth-child(1) {
  border-top: none;
}
.admin__tool--element .admin__warning--main:nth-last-child(1) {
  border-bottom: none;
}

.warning__modal--main {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.warning__modal--main .warning__modal--container {
  min-width: 600px;
  cursor: auto;
  z-index: 3;
  width: 250px;
  padding: 12px 0;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.warning__modal--main .warning__modal--container .warning__main--header {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 16px 0;
}
.warning__modal--main .warning__modal--container .warning__main--header .warning__header--username {
  cursor: pointer;
}
.warning__modal--main .warning__modal--container .warning__main--header .warning__header--username:hover {
  text-decoration: underline;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 12px;
  border-bottom: 1px solid rgba(15, 20, 25, 0.1);
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--container {
  display: flex;
  flex: 1;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--container .warning__container--profile {
  margin: 0 12px 0 0;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  transition: 0.1s;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--container .warning__container--profile .warning__image {
  height: 48px;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--container .warning__container--profile:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--container .warning__container--main {
  flex: 1;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--container .warning__container--main .warning__container--header {
  display: flex;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--container .warning__container--main .warning__container--header .warning__header--name {
  font-weight: 700;
  font-size: 15px;
  margin: 0 0 5px 0;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--container .warning__container--main .warning__container--header .warning__header--name:hover {
  text-decoration: underline;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--container .warning__container--main .warning__container--header .warning__header--username {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--container .warning__container--main .warning__container--body .warning__body--content .warning__content--text {
  overflow-wrap: anywhere;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete {
  position: relative;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--button {
  background: none;
  outline: none;
  border: none;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--icon {
  cursor: pointer;
  font-size: 28px;
  border-radius: 9999px;
  padding: 4px;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--icon:hover {
  color: red;
  background-color: rgba(15, 20, 25, 0.1);
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding: 20px 0 0 0;
  justify-content: center;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--header {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 16px 0;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 12px;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--body .warning__container--profile {
  margin: 0 12px 0 0;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  transform: 0.1s;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--body .warning__container--profile .warning__image {
  height: 48px;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--body .warning__container--profile:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--body .warning__container--main {
  flex: 1;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--body .warning__container--main .warning__container--header .warning__header--name {
  font-weight: 700;
  font-size: 15px;
  margin: 0 0 5px 0;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--body .warning__container--main .warning__container--header .warning__header--name:hover {
  text-decoration: underline;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--body .warning__container--main .warning__container--header .warning__header--username {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--body .warning__container--main .warning__container--body .warning__body--content .warning__content--text {
  overflow-wrap: anywhere;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 12px;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--footer .warning__footer--element {
  cursor: pointer;
  background-color: rgb(29, 155, 240);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin: 0 8px;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--footer .warning__footer--delete {
  transition: 1s;
  color: black;
  background-color: rgba(15, 20, 25, 0.1);
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--footer .warning__footer--delete:hover {
  color: white;
  background-color: red;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--footer .warning__footer--cancel {
  transition: 0.5s;
  color: black;
  background-color: rgba(15, 20, 25, 0.1);
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element .warning__element--delete .warning__delete--modal .warning__modal--container .warning__modal--footer .warning__footer--cancel:hover {
  background-color: rgba(15, 20, 25, 0.25);
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__list--element:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__form {
  display: flex;
  margin: 16px 12px;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__form--image {
  margin: 0 12px 0 0;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__form--image .warning__image {
  height: 48px;
}
.warning__modal--main .warning__modal--container .warning__main--body .warning__form--input {
  flex: 1;
  margin: 0 0 0 20px;
  font-size: 20px;
  border: none;
  outline: none;
}
.warning__modal--main .warning__modal--container .warning__main--footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 12px;
}
.warning__modal--main .warning__modal--container .warning__main--footer .warning__footer--element {
  cursor: pointer;
  background-color: rgb(29, 155, 240);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin: 0 8px;
}
.warning__modal--main .warning__modal--container .warning__main--footer .warning__footer--cancel {
  transition: 1s;
  color: black;
  background-color: rgba(15, 20, 25, 0.1);
}
.warning__modal--main .warning__modal--container .warning__main--footer .warning__footer--cancel:hover {
  background-color: rgba(15, 20, 25, 0.25);
}
.warning__modal--main .warning__modal--container .warning__main--footer .disabled {
  cursor: auto;
  background-color: rgba(29, 155, 240, 0.5);
}
.warning__modal--main .warning__modal--close {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: auto;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

.report__modal--main {
  overflow-y: scroll;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.report__modal--main .report__modal--container {
  min-width: 600px;
  cursor: auto;
  z-index: 3;
  width: 250px;
  padding: 12px 0;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.report__modal--main .report__modal--container .report__main--header {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 16px 0;
}
.report__modal--main .report__modal--container .report__main--header .report__header--username:hover {
  text-decoration: underline;
}
.report__modal--main .report__modal--container .report__main--body {
  padding: 16px 12px;
}
.report__modal--main .report__modal--container .report__main--body .report__body--post {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.report__modal--main .report__modal--container .report__main--body .report__body--post .report__post--image {
  margin: 0 12px 0 0;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  transition: 0.1s;
}
.report__modal--main .report__modal--container .report__main--body .report__body--post .report__post--image .report__image {
  height: 48px;
}
.report__modal--main .report__modal--container .report__main--body .report__body--post .report__post--image:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.report__modal--main .report__modal--container .report__main--body .report__body--post .report__post--main {
  flex: 1;
}
.report__modal--main .report__modal--container .report__main--body .report__body--post .report__post--main .report__post--profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.report__modal--main .report__modal--container .report__main--body .report__body--post .report__post--main .report__post--profile .report__profile--name {
  font-weight: 700;
  font-size: 15px;
  margin: 0 0 5px 0;
}
.report__modal--main .report__modal--container .report__main--body .report__body--post .report__post--main .report__post--profile .report__profile--name:hover {
  text-decoration: underline;
}
.report__modal--main .report__modal--container .report__main--body .report__body--post .report__post--main .report__post--profile .report__profile--username {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
.report__modal--main .report__modal--container .report__main--body .report__body--post .report__post--main .report__post--content .report__content--text {
  overflow-wrap: anywhere;
  margin: 0 0 12px 0;
}
.report__modal--main .report__modal--container .report__main--body .report__body--post .report__post--main .report__post--content .report__content--image {
  overflow: hidden;
  width: 75%;
  border-radius: 16px;
}
.report__modal--main .report__modal--container .report__main--body .report__body--post .report__post--main .report__post--content .report__content--image .content__image {
  max-width: 100%;
}
.report__modal--main .report__modal--container .report__main--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 12px;
}
.report__modal--main .report__modal--container .report__main--footer .report__footer--left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.report__modal--main .report__modal--container .report__main--footer .report__footer--right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.report__modal--main .report__modal--container .report__main--footer .report__footer--right .admin__element--icon:hover {
  color: orange;
}
.report__modal--main .report__modal--container .report__main--footer .report__footer--element {
  cursor: pointer;
  background-color: rgb(29, 155, 240);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 40px;
  margin: 0 8px;
  padding: 0 16px;
}
.report__modal--main .report__modal--container .report__main--footer .report__footer--cancel {
  transition: 1s;
  color: black;
  background-color: rgba(15, 20, 25, 0.1);
}
.report__modal--main .report__modal--container .report__main--footer .report__footer--cancel:hover {
  background-color: rgba(15, 20, 25, 0.25);
}
.report__modal--main .report__modal--container .report__main--footer .report__footer--uncomplete {
  background-color: red;
}
.report__modal--main .report__modal--close {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: auto;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

.auth__container {
  width: 100vw;
  height: 100vh;
  background-image: url(http://localhost/freedom/public/storage/background_register&login.jpg);
  background-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: moveSky 30s infinite ease-in-out;
          animation: moveSky 30s infinite ease-in-out;
  overflow: hidden;
}

@-webkit-keyframes moveSky {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

@keyframes moveSky {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.body__app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.card {
  background-color: rgba(240, 235, 230, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  min-width: 500px;
}
.card__logo--svg {
  height: 6em;
}
.card__error {
  padding: 16px 0;
  color: red;
  text-align: center;
  font-weight: 700;
}
.card__error--title {
  margin: 0 0 6px 0;
  font-size: 20px;
}
.card__error--list {
  font-size: 16px;
}
.card__main--form .card__form--element {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 0;
}
.card__main--form .card__form--element .card__element--label {
  font-weight: 700;
  margin: 0 0 6px 0;
}
.card__main--form .card__form--element .card__element--input {
  border-radius: 9999px;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 12px;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.card__main--form .card__form--buttons {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 16px 0;
}
.card__main--form .card__form--buttons .card__button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  font-size: 15px;
  text-align: center;
  background: none;
  padding: 12px 16px;
  border-radius: 9999px;
  font-weight: 700;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color 0.2s;
}
.card__main--form .card__form--buttons .card__button--register {
  background-color: rgba(29, 240, 155, 0.5);
}
.card__main--form .card__form--buttons .card__button--register:hover {
  background-color: rgb(29, 240, 155);
}
.card__main--form .card__form--buttons .card__button--login {
  background-color: rgba(29, 155, 240, 0.5);
}
.card__main--form .card__form--buttons .card__button--login:hover {
  background-color: rgb(29, 155, 240);
}
.card__main--form .card__form--buttons .card__button--back {
  background-color: rgb(83, 100, 113);
}
.card__main--form .card__form--buttons .card__button--back:hover {
  background-color: red;
}
.card__main--form .card__form--forgotPassword {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__main--form .card__form--forgotPassword .card__forgotPassword {
  color: rgb(83, 100, 113);
  font-weight: 700;
  transition: color 0.2s;
}
.card__main--form .card__form--forgotPassword .card__forgotPassword:hover {
  color: red;
}

.comment {
  border-bottom: 1px solid rgb(239, 243, 244);
  padding: 12px 16px;
}
.comment__profile {
  display: flex;
  align-items: center;
  padding: 0 0 2px 0;
}
.comment__profile--image {
  margin: 0 12px 0 0;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  transition: 0.2s;
}
.comment__profile--image .comment__image {
  z-index: -1;
  height: 48px;
}
.comment__profile--image:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.comment__profile--info {
  flex: 1;
}
.comment__profile--info .comment__info--name {
  font-weight: 700;
  font-size: 15px;
}
.comment__profile--info .comment__info--name:hover {
  text-decoration: underline;
}
.comment__profile--info .comment__info--username {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
.comment__profile .post__modal {
  align-self: flex-start;
}
.comment__profile .post__modal .post__header--icon {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 9999px;
}
.comment__profile .post__modal .post__header--icon:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.comment__main--body .comment__body--content .comment__content--text {
  font-size: 23px;
  margin: 0 0 12px 0;
  overflow-wrap: anywhere;
}
.comment__main--body .comment__body--image {
  overflow: hidden;
  border-radius: 16px;
}
.comment__main--body .comment__body--image .comment__image {
  width: 100%;
}
.comment__main--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
}
.comment:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.comment__create {
  padding: 16px 12px;
  border-bottom: 1px solid rgb(239, 243, 244);
}
.comment__create--form .comment__form--body {
  display: flex;
}
.comment__create--form .comment__form--body .comment__body--image {
  cursor: pointer;
  margin: 0 12px 0 0;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  transition: 0.2s;
}
.comment__create--form .comment__form--body .comment__body--image .comment__image {
  z-index: -1;
  height: 48px;
}
.comment__create--form .comment__form--body .comment__body--image:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.comment__create--form .comment__form--body .comment__body--container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.comment__create--form .comment__form--body .comment__body--container .comment__container--input {
  flex: 1;
  font-size: 20px;
  border: none;
  outline: none;
  margin: 0 0 10px 0;
  resize: none;
}
.comment__create--form .comment__form--body .comment__body--container .comment__container--image {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}
.comment__create--form .comment__form--body .comment__body--container .comment__container--image .container__icon {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: absolute;
  font-size: 26px;
  top: 6px;
  left: 6px;
  color: white;
  background-color: rgba(15, 20, 25, 0.8);
  padding: 2px;
  border-radius: 9999px;
}
.comment__create--form .comment__form--body .comment__body--container .comment__container--image .container__image {
  width: 100%;
}
.comment__create--form .comment__form--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment__create--form .comment__form--footer .comment__footer--container {
  padding: 0 16px;
}
.comment__create--form .comment__form--footer .comment__footer--container .main__button--icon {
  color: rgb(29, 155, 240);
  font-size: 25px;
  cursor: pointer;
  border-radius: 9999px;
  padding: 4px;
}
.comment__create--form .comment__form--footer .comment__footer--container .main__button--icon:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.comment__create--form .comment__form--footer .comment__footer--container .main__button--image {
  display: none;
}
.comment__create--form .comment__form--footer .comment__footer--submit {
  cursor: pointer;
  background-color: rgb(29, 155, 240);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
}
.comment__create--form .comment__form--footer .disabled {
  background-color: rgba(29, 155, 240, 0.5);
  cursor: auto;
}

.comment__list {
  height: 666px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgb(239, 243, 244);
  flex: 0.2;
  min-width: 250px;
  padding: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header__top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__logo {
  padding: 10px;
  border-radius: 9999px;
}
.header__logo--svg {
  height: 2.5rem;
}
.header__logo:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.header__nav--element {
  display: flex;
  align-items: center;
}
.header__nav--element .nav__element--alert {
  position: absolute;
  top: 15px;
  left: 32px;
  background-color: rgb(29, 155, 240);
  padding: 2px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 6px;
}
.header__nav--element .nav__element--icon {
  font-size: 2.5rem;
  padding: 10px;
}
.header__nav--element .nav__element--text {
  font-size: 20px;
  margin: 0 20px 0 0;
}
.header__nav--element:hover {
  background-color: rgba(15, 20, 25, 0.1);
  border-radius: 9999px;
  transition: color 100ms ease-out;
}
.header__nav--element.active {
  font-weight: 700;
}
.header__nav--element.active .nav__element--icon {
  font-weight: 600;
}
.header__nav--element:last-child {
  cursor: pointer;
}
.header__nav--notification {
  position: relative;
}
.header__nav--more {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.header__nav--more .header__more {
  top: 390px;
  left: 332px;
  position: absolute;
  width: 250px;
  padding: 12px 0;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.header__nav--more .header__more--admin {
  display: flex;
  padding: 12px 16px;
}
.header__nav--more .header__more--admin:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.header__nav--more .header__more--signal {
  position: absolute;
  top: -10px;
  width: 14px;
  fill: white;
  left: calc(50% - 7px);
  filter: drop-shadow(rgb(207, 217, 222) 1px -1px 1px);
}
.header__profile--options {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.header__profile--options .header__option {
  bottom: 93px;
  left: 332px;
  position: absolute;
  width: 250px;
  padding: 12px 0;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.header__profile--options .header__option--logout {
  display: flex;
  padding: 12px 16px;
}
.header__profile--options .header__option--logout:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.header__profile--options .header__option--signal {
  position: absolute;
  bottom: -10px;
  width: 14px;
  fill: white;
  transform: rotate(180deg);
  left: calc(50% - 7px);
  filter: drop-shadow(rgb(207, 217, 222) 1px -1px 1px);
}
.header__profile--container {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 12px;
  border-radius: 9999px;
}
.header__profile--container .header__profile--image {
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.header__profile--container .header__profile--image .profile__image {
  height: 48px;
}
.header__profile--container .header__profile--info {
  margin: 0 12px;
}
.header__profile--container .header__profile--info .header__info--name {
  font-weight: 700;
  font-size: 15px;
}
.header__profile--container .header__profile--info .header__info--username {
  color: rgb(83, 100, 113);
}
.header__profile--container .header__profile--option {
  flex-grow: 1;
  text-align: right;
}
.header__profile--container:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.main {
  flex: 0.5;
  border-right: 1px solid rgb(239, 243, 244);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main::-webkit-scrollbar {
  display: none;
}
.main__header {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  padding: 0 12px;
  top: 0;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 1;
}
.main__header--back {
  border-radius: 9999px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 20px 6px 0;
}
.main__header--back .main__header--icon {
  width: 24px;
}
.main__header--back:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.main__header--title {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 700;
}
.main__container--input {
  padding: 0 10px 10px 0;
  border-bottom: 1px solid rgb(239, 243, 244);
}
.main__container--input .main__input--form {
  display: flex;
  flex-direction: column;
}
.main__container--input .main__input--form .main__form {
  display: flex;
  padding: 20px;
}
.main__container--input .main__input--form .main__form--image {
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.main__container--input .main__input--form .main__form--image .form__image {
  height: 48px;
}
.main__container--input .main__input--form .main__form--container {
  flex: 1;
  margin: 0 0 0 20px;
  display: flex;
  flex-direction: column;
}
.main__container--input .main__input--form .main__form--container .main__container--input {
  resize: none;
  flex: 1;
  font-size: 20px;
  border: none;
  outline: none;
}
.main__container--input .main__input--form .main__form--container .main__container--image {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}
.main__container--input .main__input--form .main__form--container .main__container--image .main__icon {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: absolute;
  font-size: 26px;
  top: 6px;
  left: 6px;
  color: white;
  background-color: rgba(15, 20, 25, 0.8);
  padding: 2px;
  border-radius: 9999px;
}
.main__container--input .main__input--form .main__form--container .main__container--image .main__image {
  width: 100%;
}
.main__container--input .main__input--form .main__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__container--input .main__input--form .main__buttons .main__button--container {
  padding: 0 16px;
}
.main__container--input .main__input--form .main__buttons .main__button--container .main__button--icon {
  color: rgb(29, 155, 240);
  font-size: 25px;
  cursor: pointer;
  border-radius: 9999px;
  padding: 4px;
}
.main__container--input .main__input--form .main__buttons .main__button--container .main__button--icon:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.main__container--input .main__input--form .main__buttons .main__button--container .main__button--image {
  display: none;
}
.main__container--input .main__input--form .main__buttons .main__button--submit {
  cursor: pointer;
  background-color: rgb(29, 155, 240);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
}
.main__container--input .main__input--form .main__buttons .disabled {
  cursor: auto;
  background-color: rgba(29, 155, 240, 0.5);
}
.main--admin {
  flex: 1;
}

.post__from {
  padding: 4px 16px;
}
.post__from--content {
  color: gray;
  font-size: 12px;
}
.post__from--content:hover {
  text-decoration: underline;
}
.post__container {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgb(239, 243, 244);
  padding: 12px 16px;
}
.post__container .post__profile {
  margin: 0 12px 0 0;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  transition: 0.1s;
}
.post__container .post__profile--image {
  height: 48px;
}
.post__container .post__profile:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.post__container .post__main {
  flex: 1;
}
.post__container .post__main--header .post__header {
  display: flex;
  justify-content: space-between;
}
.post__container .post__main--header .post__header--name {
  font-weight: 700;
  font-size: 15px;
  margin: 0 0 5px 0;
}
.post__container .post__main--header .post__header--name:hover {
  text-decoration: underline;
}
.post__container .post__main--header .post__header--username {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
.post__container .post__main--header .post__header--icon {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 9999px;
}
.post__container .post__main--header .post__header--icon:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.post__container .post__main--body .post__body--content .post__content--text {
  margin: 0 0 12px 0;
  overflow-wrap: anywhere;
}
.post__container .post__main--body .post__body--image {
  overflow: hidden;
  border-radius: 16px;
}
.post__container .post__main--body .post__body--image .post__image {
  width: 100%;
}
.post__container .post__main--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
}
.post__container .post:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.post:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.post__modal {
  position: relative;
}
.post__modal .post__header--icon {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 9999px;
}
.post__modal .post__header--icon:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.post__modal .post__modal--container {
  cursor: auto;
  z-index: 3;
  top: 0;
  right: 0;
  position: absolute;
  width: 250px;
  padding: 12px 0;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.post__modal .post__modal--element {
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  width: 100%;
  background: none;
  outline: none;
  border: none;
}
.post__modal .post__modal--element .post__modal--icon {
  margin: 0 12px 0 0;
}
.post__modal .post__modal--element:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.post__modal .post__modal--delete:hover {
  font-weight: 700;
  color: red;
}
.post__modal--close {
  cursor: auto;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

.post__modal--comment {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
.post__modal--comment .post__modal--main {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post__modal--comment .post__modal--main .post__modal--container {
  min-width: 600px;
  cursor: auto;
  z-index: 3;
  width: 250px;
  padding: 12px 0;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.post__modal--comment .post__modal--main .post__modal--container .post {
  cursor: auto;
}
.post__modal--comment .post__modal--main .post__modal--container .post:hover {
  background-color: white;
}
.post__modal--comment .post__modal--main .post__modal--element {
  font-size: 16px;
  cursor: pointer;
  display: flex;
  padding: 12px 16px;
  width: 100%;
  background: none;
  outline: none;
  border: none;
}
.post__modal--comment .post__modal--main .post__modal--element:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.post__modal--comment .post__modal--main .post__modal--close {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: auto;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

.post__modal--publish {
  position: relative;
}
.post__modal--publish .post__modal--container {
  cursor: auto;
  z-index: 3;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 250px;
  padding: 12px 0;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.post__modal--publish .post__modal--element {
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  display: flex;
  padding: 12px 16px;
  width: 100%;
  background: none;
  outline: none;
  border: none;
}
.post__modal--publish .post__modal--element .post__modal--icon {
  margin: 0 12px 0 0;
}
.post__modal--publish .post__modal--element:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.post__modal--publish .post__modal--close {
  cursor: auto;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

.post__modal--report {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.post__modal--main {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post__modal--main .post__modal--container {
  position: relative;
  min-width: 600px;
  cursor: auto;
  z-index: 3;
  width: 250px;
  padding: 12px 0;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.post__modal--main .post__modal--container .post__container--header {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 16px 0;
}
.post__modal--main .post__modal--container .post__container--form {
  padding: 16px 12px;
}
.post__modal--main .post__modal--container .post__container--form .post__form--body {
  display: flex;
  align-items: center;
}
.post__modal--main .post__modal--container .post__container--form .post__form--body .post__body--image {
  margin: 0 12px 0 0;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.post__modal--main .post__modal--container .post__container--form .post__form--body .post__body--image .post__image {
  height: 48px;
}
.post__modal--main .post__modal--container .post__container--form .post__form--body .post__body--input {
  flex: 1;
  margin: 0 0 0 20px;
  font-size: 20px;
  border: none;
  outline: none;
}
.post__modal--main .post__modal--container .post__container--options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post__modal--main .post__modal--container .post__container--options .post__option--element {
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin: 0 8px;
}
.post__modal--main .post__modal--container .post__container--options .post__option--cancel {
  transition: 1s;
  color: black;
  background-color: rgba(15, 20, 25, 0.1);
}
.post__modal--main .post__modal--container .post__container--options .post__option--cancel:hover {
  background-color: rgba(15, 20, 25, 0.25);
}
.post__modal--main .post__modal--container .post__container--options .post__option--report {
  background-color: red;
}
.post__modal--main .post__modal--container .post__container--options .disabled {
  cursor: auto;
  background-color: rgba(249, 24, 128, 0.1);
}
.post__modal--main .post__modal--close {
  background-color: rgba(0, 0, 0, 0.25);
}

.notification {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgb(239, 243, 244);
  padding: 12px 16px;
}
.notification__type {
  margin: 0 12px 0 0;
}
.notification__type .notification__type--icon {
  font-variation-settings: "FILL" 1;
  font-size: 32px;
}
.notification__type .notification__type--like {
  color: red;
}
.notification__type .notification__type--repost {
  color: green;
}
.notification__type .notification__type--default {
  color: rgb(29, 155, 240);
}
.notification__main {
  width: 100%;
}
.notification__main .notification__main--header {
  display: flex;
  align-items: center;
}
.notification__main .notification__main--header .notification__header--image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin: 0 12px 0 0;
}
.notification__main .notification__main--header .notification__header--image .notification__image {
  height: 48px;
}
.notification__main .notification__main--header .notification__header--text {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.notification__main .notification__main--header .notification__header--text .notification__text--username {
  font-weight: 700;
}
.notification__main .notification__main--header .notification__header--text .notification__text--username:hover {
  text-decoration: underline;
}
.notification__main .notification__main--header .notification__header--text .notification__date {
  color: gray;
}
.notification__main .notification__main--body {
  margin: 12px 0 0 0;
}
.notification__main .notification__main--footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.profile {
  border-bottom: 1px solid rgb(239, 243, 244);
}
.profile__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.profile__header--image {
  overflow: hidden;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  border: 4px solid white;
  background-color: rgba(15, 20, 25, 0.1);
}
.profile__header--image .profile__image {
  height: 120px;
}
.profile__header--text {
  padding: 12px 16px;
}
.profile__header--text .profile__text--name {
  font-weight: 700;
  font-size: 20px;
}
.profile__header--text .profile__text--username {
  color: rgb(83, 100, 113);
  font-size: 16px;
}
.profile__header--buttons {
  flex-grow: 1;
  text-align: right;
}
.profile__header--buttons .profile__button--element {
  font-size: 14px;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 9999px;
  border: 1px solid gray;
  background: none;
  font-weight: 700;
}
.profile__header--buttons .profile__button--element:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.profile__main {
  padding: 0 12px 12px 12px;
}
.profile__main--description {
  margin: 0 0 12px 0;
}
.profile__main--info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(83, 100, 113);
  margin: 0 0 12px 0;
}
.profile__main--info .profile__info--element {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__main--info .profile__info--element .profile__element--icon {
  font-weight: 200;
}
.profile__main--count {
  display: flex;
}
.profile__main--count .profile__count--element {
  margin: 0 20px 0 0;
}
.profile__main--count .profile__count--element .profile__element--count {
  font-weight: 700;
}
.profile__footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile__footer--element {
  flex-grow: 1;
  text-align: center;
  padding: 16px 0;
}
.profile__footer--element:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.profile__footer .active {
  font-weight: 700;
}

.search {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.search__main {
  background-color: rgb(239, 243, 244);
  padding: 10px;
  border-radius: 20px;
  margin: 10px 0 0 20px;
}
.search__main--form {
  display: flex;
  align-items: center;
}
.search__main--form .search__form--icon {
  color: gray;
}
.search__main--form .search__form--input {
  border: none;
  background-color: rgb(239, 243, 244);
  outline: none;
  width: 100%;
  font-size: 14px;
}
.search__main--results {
  position: relative;
  left: 20px;
}
.search__main--results .search__results {
  border-radius: 8px;
  position: absolute;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  width: 374px;
}
.search__main--results .search__results .search__result {
  display: flex;
  padding: 12px 16px;
  align-items: center;
}
.search__main--results .search__results .search__result--image {
  margin: 0 12px 0 0;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.search__main--results .search__results .search__result--image .search__image {
  height: 48px;
}
.search__main--results .search__results .search__result--info {
  font-size: 16px;
  overflow: hidden;
}
.search__main--results .search__results .search__result--info .search__info--name {
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.search__main--results .search__results .search__result--info .search__info--username {
  color: rgb(83, 100, 113);
  white-space: nowrap;
}
.search__main--results .search__results .search__result--info .search__info--description {
  color: rgb(83, 100, 113);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button__action {
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 0;
}
.button__action--icon {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 22px;
  border-radius: 999px;
  padding: 6px;
}
.button__action--default:hover {
  background-color: rgba(29, 155, 240, 0.1);
}
.button__action--like:hover {
  background-color: rgba(249, 24, 128, 0.1);
}
.button__action--repost:hover {
  background-color: rgba(0, 186, 124, 0.1);
}
.button__action .liked {
  font-variation-settings: "FILL" 1;
  color: red;
}
.button__action .reposted {
  font-variation-settings: "FILL" 1;
  color: green;
}

.warning__view--modal {
  padding: 20px 0 0 0;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.warning__view--modal .warning__view--container {
  min-width: 600px;
  cursor: auto;
  z-index: 3;
  width: 250px;
  padding: 12px 0;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.warning__view--modal .warning__view--container .warning__container--header {
  text-align: center;
}
.warning__view--modal .warning__view--container .warning__container--header .warning__header--title {
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 12px 0;
}
.warning__view--modal .warning__view--container .warning__container--header .warning__header--title .warning__count--2 {
  color: orange;
}
.warning__view--modal .warning__view--container .warning__container--header .warning__header--title .warning__count--3 {
  color: red;
}
.warning__view--modal .warning__view--container .warning__container--header .warning__header--description {
  font-style: italic;
}
.warning__view--modal .warning__view--container .warning__container--body {
  margin: 16px 0;
}
.warning__view--modal .warning__view--container .warning__container--body .warning {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 6px;
}
.warning__view--modal .warning__view--container .warning__container--body .warning__profile {
  margin: 0 12px 0 0;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.warning__view--modal .warning__view--container .warning__container--body .warning__profile--image {
  height: 48px;
}
.warning__view--modal .warning__view--container .warning__container--body .warning__main {
  flex: 1;
}
.warning__view--modal .warning__view--container .warning__container--body .warning__main--header {
  margin: 0 0 5px 0;
}
.warning__view--modal .warning__view--container .warning__container--body .warning__main--header .warning__header--name {
  font-size: 15px;
  font-weight: 700;
}
.warning__view--modal .warning__view--container .warning__container--body .warning__main--header .warning__header--username {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
.warning__view--modal .warning__view--container .warning__container--body .warning__main--body .warning__body--reason {
  overflow-wrap: anywhere;
}
.warning__view--modal .warning__view--container .warning__container--footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 12px;
}
.warning__view--modal .warning__view--container .warning__container--footer .warning__option--element {
  cursor: pointer;
  background-color: rgb(29, 155, 240);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin: 0 8px;
}

.widgets {
  flex: 0.3;
}
