/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
}

a:visited {
  color: black;
  text-decoration: none;
}

body {
  display: flex;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgb(239, 243, 244);
  flex: 0.2;
  min-width: 250px;
  padding: 20px;
}
.header__top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__logo {
  padding: 10px;
  border-radius: 9999px;
}
.header__logo--svg {
  height: 2.5rem;
}
.header__logo:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.header__nav--element {
  display: flex;
  align-items: center;
}
.header__nav--element .nav__element--icon {
  font-size: 2.5rem;
  padding: 10px;
}
.header__nav--element .nav__element--text {
  font-size: 20px;
  margin: 0 20px 0 0;
}
.header__nav--element:hover {
  background-color: rgba(15, 20, 25, 0.1);
  border-radius: 9999px;
  transition: color 100ms ease-out;
}
.header__nav--element.active {
  font-weight: 700;
}
.header__nav--element.active .nav__element--icon {
  font-weight: 600;
}
.header__nav--element:last-child {
  cursor: pointer;
}
.header__nav--more {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.header__nav--more .header__more {
  bottom: 174px;
  left: 332px;
  position: absolute;
  width: 250px;
  padding: 12px 0;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.header__nav--more .header__more--admin {
  display: flex;
  padding: 12px 16px;
}
.header__nav--more .header__more--admin:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.header__nav--more .header__more--signal {
  position: absolute;
  top: -10px;
  width: 14px;
  fill: white;
  left: calc(50% - 7px);
  filter: drop-shadow(rgb(207, 217, 222) 1px -1px 1px);
}
.header__profile--options {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.header__profile--options .header__option {
  bottom: 93px;
  left: 332px;
  position: absolute;
  width: 250px;
  padding: 12px 0;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.header__profile--options .header__option--logout {
  display: flex;
  padding: 12px 16px;
}
.header__profile--options .header__option--logout:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.header__profile--options .header__option--signal {
  position: absolute;
  bottom: -10px;
  width: 14px;
  fill: white;
  transform: rotate(180deg);
  left: calc(50% - 7px);
  filter: drop-shadow(rgb(207, 217, 222) 1px -1px 1px);
}
.header__profile--container {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 12px;
  border-radius: 9999px;
}
.header__profile--container .header__profile--image {
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.header__profile--container .header__profile--image .profile__image {
  height: 48px;
}
.header__profile--container .header__profile--info {
  margin: 0 12px;
}
.header__profile--container .header__profile--info .header__info--name {
  font-weight: 700;
  font-size: 15px;
}
.header__profile--container .header__profile--info .header__info--username {
  color: rgb(83, 100, 113);
}
.header__profile--container .header__profile--option {
  flex-grow: 1;
  text-align: right;
}
.header__profile--container:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.main {
  flex: 0.5;
  border-right: 1px solid rgb(239, 243, 244);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main::-webkit-scrollbar {
  display: none;
}
.main__header {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  padding: 0 12px;
  top: 0;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 100;
}
.main__header--back {
  border-radius: 9999px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 20px 6px 0;
}
.main__header--back .main__header--icon {
  width: 24px;
}
.main__header--back:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.main__header--title {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 700;
}
.main__container--input {
  padding: 0 10px 10px 0;
  border-bottom: 1px solid rgb(239, 243, 244);
}
.main__container--input .main__input--form {
  display: flex;
  flex-direction: column;
}
.main__container--input .main__input--form .main__form {
  display: flex;
  padding: 20px;
}
.main__container--input .main__input--form .main__form--image {
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.main__container--input .main__input--form .main__form--image .form__image {
  height: 48px;
}
.main__container--input .main__input--form .main__form--input {
  flex: 1;
  margin: 0 0 0 20px;
  font-size: 20px;
  border: none;
  outline: none;
}
.main__container--input .main__input--submit {
  background-color: rgb(29, 155, 240);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin: 20px 0 0 auto;
}

.post {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgb(239, 243, 244);
  padding: 12px 16px;
}
.post__profile {
  margin: 0 12px 0 0;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.post__profile--image {
  height: 48px;
}
.post__main {
  flex: 1;
}
.post__main--header .post__header--name {
  font-weight: 700;
  font-size: 15px;
  margin: 0 0 5px 0;
}
.post__main--header .post__header--username {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
.post__main--body .post__body--content .post__content--text {
  overflow-wrap: anywhere;
}
.post__main--footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}
.post:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.profile {
  border-bottom: 1px solid rgb(239, 243, 244);
}
.profile__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.profile__header--image {
  overflow: hidden;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  border: 4px solid white;
}
.profile__header--image .profile__image {
  height: 120px;
}
.profile__header--text {
  padding: 12px 16px;
}
.profile__header--text .profile__text--name {
  font-weight: 700;
  font-size: 20px;
}
.profile__header--text .profile__text--username {
  color: rgb(83, 100, 113);
  font-size: 16px;
}
.profile__header--buttons {
  flex-grow: 1;
  text-align: right;
}
.profile__header--buttons .profile__button--element {
  font-size: 14px;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 9999px;
  border: 1px solid gray;
  background: none;
  font-weight: 700;
}
.profile__header--buttons .profile__button--element:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.profile__main {
  padding: 0 12px 12px 12px;
}
.profile__main--description {
  margin: 0 0 12px 0;
}
.profile__main--info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(83, 100, 113);
  margin: 0 0 12px 0;
}
.profile__main--info .profile__info--element {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__main--info .profile__info--element .profile__element--icon {
  font-weight: 200;
}
.profile__main--count {
  display: flex;
}
.profile__main--count .profile__count--element {
  margin: 0 20px 0 0;
}
.profile__main--count .profile__count--element .profile__element--count {
  font-weight: 700;
}
.profile__footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile__footer--element {
  flex-grow: 1;
  text-align: center;
  padding: 16px 0;
}
.profile__footer--element:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.profile__footer .active {
  font-weight: 700;
}

.widgets {
  flex: 0.3;
}

.search__main {
  background-color: rgb(239, 243, 244);
  padding: 10px;
  border-radius: 20px;
  margin: 10px 0 0 20px;
}
.search__main--form {
  display: flex;
  align-items: center;
}
.search__main--form .search__form--icon {
  color: gray;
}
.search__main--form .search__form--input {
  border: none;
  background-color: rgb(239, 243, 244);
  outline: none;
  width: 100%;
  font-size: 14px;
}
.search__main--results {
  position: relative;
  left: 20px;
}
.search__main--results .search__results {
  border-radius: 8px;
  position: absolute;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  width: 374px;
}
.search__main--results .search__results .search__result {
  display: flex;
  padding: 12px 16px;
}
.search__main--results .search__results .search__result--image {
  margin: 0 12px 0 0;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.search__main--results .search__results .search__result--image .search__image {
  height: 48px;
}
.search__main--results .search__results .search__result--info {
  font-size: 16px;
  overflow: hidden;
}
.search__main--results .search__results .search__result--info .search__info--name {
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.search__main--results .search__results .search__result--info .search__info--username {
  color: rgb(83, 100, 113);
  white-space: nowrap;
}
.search__main--results .search__results .search__result--info .search__info--description {
  color: rgb(83, 100, 113);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button__action {
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 0;
}
.button__action--icon {
  font-size: 22px;
  border-radius: 999px;
  padding: 6px;
}
.button__action--default:hover {
  background-color: rgba(29, 155, 240, 0.1);
}
.button__action--like:hover {
  background-color: rgba(249, 24, 128, 0.1);
}
.button__action--repost:hover {
  background-color: rgba(0, 186, 124, 0.1);
}
.button__action .liked {
  font-variation-settings: "FILL" 1;
  color: red;
}
.button__action .reposted {
  font-variation-settings: "FILL" 1;
  color: green;
}
