body {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;    
}

.body__app {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
}

@media only screen and (max-width: 1298px) {
    .body__app {
        justify-content: center;
    }
}

@media only screen and (max-width: 721px) {
    .body__app {
        justify-content: flex-start;
    }
}