.admin__tool--element {
    .admin__group {

        &--main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 0;
            border-top: 1px solid $border__color;
            border-bottom: 1px solid $border__color;

            .admin__main {
                &--profile{
                    display: flex;
                    align-items: center;
                    width: 200px;

                    .admin__profile {

                        &--image {
                            margin: 0 12px;
                            min-height: $image__height;
                            min-width: $image__width;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 9999px;

                            .admin__image {
                                height: $image__height;
                            }
                        }
                        &--text {
                            .admin__text {

                                &--name {
                                    font-weight: 700;
                                }
                                &--username {
                                    color: $secundary__color;
                                }
                            }
                        }
                    }
                }
                &--rol {
                    font-weight: 700;
                    font-style: italic;
                }
                &--options {
                    display: flex;
                    flex-direction: column;

                    .admin__option {

                        &--element {
                            display: flex;
                            align-items: center;
                            background: none;
                            border: none;
                            outline: none;
                            cursor: pointer;

                            .admin__element {
                                &--icon {
                                    border-radius: 9999px;
                                    
                                    &:hover {
                                        background-color: $background__color;
                                    }
                                }
                            }
                            .disable {
                                color: gray;
                                cursor: auto;

                                &:hover {
                                    background: none;
                                }
                            }
                        }
                    }
                }
            }
            &:hover {
                background-color: $background__color;
            }
            &:nth-child(1){
                border-top: none;
            }
            &:nth-last-child(1){
                border-bottom: none;
            }
        }
    }
}