.button__action {
    align-items: center;
    background: none;
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    padding: 0;

    &--icon {
        user-select: none;
        cursor: pointer;
        font-size: 22px;
        border-radius: 999px;
        padding: 6px;
    }
    &--default:hover {
        background-color: $background__color--cyan;
    }
    &--like:hover {
        background-color: $background__color--red;
    }
    &--repost:hover {
        background-color: $background__color--green;
    }

    .liked {
        font-variation-settings: 'FILL' 1;
        color: red;
    }
    .reposted {
        font-variation-settings: 'FILL' 1;
        color: green;
    }        
}