.auth__container {
    width: 100vw;
    height: 100vh;
    background-image: url(http://localhost/freedom/public/storage/background_register&login.jpg);
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: moveSky 30s infinite ease-in-out;
    overflow: hidden;
}

@keyframes moveSky {
    0% {
        background-position: 0;
    }50%{
        background-position: 100%;
    }100% {
        background-position: 0;
    }
}