$main__color: rgb(29, 155, 240);
$main__color--disable: rgba(29, 155, 240, .5);
$secundary__color: rgb(83, 100, 113);
$background__color: rgba(15, 20, 25, .1);
$background__color--hover: rgba(15, 20, 25, .25);
$background__color--reverse: rgba(240, 235, 230, 0.5);
$background__color--red: rgba(249, 24, 128, .1);
$background__color--green: rgba(0, 186, 124, .1);
$background__color--cyan: rgba(29, 155, 240, .1);
$border__color: rgb(239, 243, 244);
$border__color--profile : rgb(207, 217, 222);
$green__color: rgb(20, 150, 31);
$green__color--disable: rgba(20, 150, 31, 0.5);