.main {
    flex: 0.5;
    border-right: 1px solid $border__color;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
    &__header {
        position: sticky;
        top: 0;
        backdrop-filter: blur(20px);
        z-index: 100;
        padding: 15px 20px;

        &--title {
            font-size: 20px;
            font-weight: 700;
        }
    }
    &__container {

        &--input {
            padding: 0 10px 10px 0;
            border-bottom: 1px solid $border__color;

            .main__input {
                &--form {
                    display: flex;
                    flex-direction: column;
    
                    .main__form {
                        display: flex;
                        padding: 20px;
    
                        &--image {
                            height: $image__height;
                            width: $image__width;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 9999px;
                            .form__image {
                                height: $image__height;
                            }
                        }
                        &--input {
                            flex: 1;
                            margin: 0 0 0 20px;
                            font-size: 20px;
                            border: none;
                            outline: none;
                        }
                    }
                }
                &--submit {
                    background-color: $main__color;
                    border: none;
                    color: white;
                    font-weight: 900;
                    border-radius: 30px;
                    width: 80px;
                    height: 40px;
                    margin: 20px 0 0 auto;
                }
            }
        }
    }
}