.main {
    flex: 0.5;
    border-right: 1px solid $border__color;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
    &__header {
        display: flex;
        position: sticky;
        padding: 0 12px;
        top: 0;
        backdrop-filter: blur(20px);
        z-index: 1;

        &--back {
            border-radius: 9999px;
            padding: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 6px 20px 6px 0;

            .main__header--icon {
                width: 24px;

            }
            &:hover {
                background-color: $background__color;
            }
        }
        &--title {
            margin: 15px 0;
            font-size: 20px;
            font-weight: 700;
        }
    }
    &__container {

        &--input {
            padding: 0 10px 10px 0;
            border-bottom: 1px solid $border__color;

            .main__input {
                &--form {
                    display: flex;
                    flex-direction: column;
    
                    .main__form {
                        display: flex;
                        padding: 20px;
    
                        &--image {
                            height: $image__height;
                            width: $image__width;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 9999px;
                            .form__image {
                                height: $image__height;
                            }
                        }
                        &--container {
                            flex: 1;
                            margin: 0 0 0 20px;
                            display: flex;
                            flex-direction: column;

                            .main__container {
                                &--input {
                                    resize: none;
                                    flex: 1;
                                    font-size: 20px;
                                    border: none;
                                    outline: none;
                                }
                                &--image {
                                    position: relative;
                                    overflow: hidden;
                                    border-radius: 16px;

                                    .main__icon {
                                        user-select: none;
                                        cursor: pointer;
                                        position: absolute;
                                        font-size: 26px;
                                        top: 6px;
                                        left: 6px;
                                        color: white;
                                        background-color: rgba(15, 20, 25, .8);
                                        padding: 2px;
                                        border-radius: 9999px;
                                    }
                                    .main__image {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    .main__buttons {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        .main__button {
                            &--container {
                                padding: 0 16px;
    
                                .main__button {
                                    &--icon {
                                        color: $main__color;
                                        font-size: 25px;
                                        cursor: pointer;
                                        border-radius: 9999px;
                                        padding: 4px;

                                        &:hover {
                                            background-color: $background__color;
                                        }
                                    }
                                    &--element {
    
                                    }
                                    &--image {
                                        display: none;
                                    }
                                }
                            }
                            &--submit {
                                cursor: pointer;
                                background-color: $main__color;
                                border: none;
                                color: white;
                                font-weight: 900;
                                border-radius: 30px;
                                width: 80px;
                                height: 40px;
                            }
                        }
                        .disabled {
                            cursor: auto;
                            background-color: $main__color--disable;
                        }
    
                    }
                }
                
            }
        }
    }
    &--admin {
        flex: 1;
    }
}