.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid $border__color;
    flex: 0.2;
    min-width: 250px;
    padding: 20px;

    &__top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__logo {
        padding: 10px;
        border-radius: 9999px;

        &--svg {
            height: 2.5rem;
        }
        &:hover {
            background-color: $background__color;
        }
    }
    &__nav {

        &--element.active {
            font-weight: 700;
        }
        &--element {
            display: flex;
            align-items: center;

            .nav__element--icon {
                font-size: 2.5rem;
                padding: 10px;
            }
            .nav__element--text {
                font-size: 20px;
                margin: 0 20px 0 0;
            }
            &:hover {
                background-color: $background__color;
                border-radius: 9999px;
                transition: color 100ms ease-out;
            }
        }
    }

    &__profile {
        align-items: center;
        display: flex;
        padding: 12px;
        border-radius: 9999px;

        &--image {
            height: 40px;
            border-radius: 50%;
        }
        &--info {
            .header__info {
                &--name {
                    font-weight: 700;
                    font-size: 15px;
                }
                &--username {
                    color: $secundary__color;
                }
            }
        }
        &--option {
            flex-grow: 1;
            text-align: right;

            .header__profile {
                &--icon {

                }
            }
        }
        &:hover {
            background-color: $background__color;
        }
    }
}