.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid $border__color;
    padding: 0 12px;
    user-select: none;
    min-width: 275px;

    &__top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__logo {
        padding: 10px;
        border-radius: 9999px;

        &--svg {
            height: 2.5rem;
        }
        &--path {
            fill: $main__color;
        }
        &:hover {
            background-color: $background__color;
        }
    }
    &__nav {

        &--element {
            display: flex;
            align-items: center;

            .nav__element--alert {
                position: absolute;
                top: 15px;
                left: 32px;
                background-color: $main__color;
                padding: 2px;
                border-radius: 9999px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6px;
                height: 6px;
            }
            .nav__element--icon {
                font-size: 2.5rem;
                padding: 10px;
            }
            .nav__element--text {
                font-size: 20px;
                margin: 0 20px 0 0;
            }
            &:hover {
                background-color: $background__color;
                border-radius: 9999px;
                transition: color 100ms ease-out;
            }
            &.active {
                font-weight: 700;

                .nav__element--icon {
                    font-weight: 600;
                }
            }
            &:last-child {
                cursor: pointer;
            }
        }
        &--notification {
            position: relative;
        }
        &--more {
            display: none;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;

            .header__more {
                top: 390px;
                left: 332px;
                position: absolute;
                width: 250px;
                padding: 12px 0;
                border-radius: 16px;
                background-color: white;
                box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;

                &--element {
                    font-size: 16px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding: 12px 16px;
                    background: none;
                    border: none;
                    outline: none;
                    
                    .header__element {
                        &--icon {
                            margin: 0 12px 0 0;
                        }
                    }
                    &:hover {
                        background-color: $background__color;
                    }
                }
                &--language {
                    width: 100%;
                }
                &--signal {
                    position: absolute;
                    top: -10px;
                    width: 14px;
                    fill: white;
                    left: calc(50% - 14px / 2);
                    filter: drop-shadow(rgb(207, 217, 222) 1px -1px 1px);
                }
            }
        }
    }

    &__profile {
        
        &--options {
            display: none;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;

            .header__option {
                bottom: 93px;
                left: 332px;
                position: absolute;
                width: 250px;
                padding: 12px 0;
                border-radius: 16px;
                background-color: white;
                box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;

                &--logout {
                    cursor: pointer;
                    display: flex;
                    padding: 12px 16px;
                    font-size: 16px;
                    border: none;
                    outline: none;
                    width: 100%;
                    background: none;
                    
                    &:hover {
                        background-color: $background__color;
                    }
                }
                &--signal {
                    position: absolute;
                    bottom: -10px;
                    width: 14px;
                    fill: white;
                    transform: rotate(180deg);
                    left: calc(50% - 14px / 2);
                    filter: drop-shadow(rgb(207, 217, 222) 1px -1px 1px);
                }
            }
        }
        &--container {
            align-items: center;
            cursor: pointer;
            display: flex;
            padding: 10px;
            border-radius: 9999px;

            .header__profile {

                &--image {
                    height: $image__height;
                    width: $image__width;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 9999px;

                    .profile__image {
                        height: $image__height;
                    }
                }
                &--info {
                    margin: 0 12px;

                    .header__info {
                        &--name {
                            font-weight: 700;
                            font-size: 15px;
                        }
                        &--username {
                            color: $secundary__color;
                        }
                    }
                }
                &--option {
                    flex-grow: 1;
                    text-align: right;
        
                    .header__profile {
                        &--icon {
        
                        }
                    }
                }
            }
            &:hover {
                background-color: $background__color;
            }
        }
    }

    &--banned {
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        &__top {
            align-items: center;
        }
    }
}

@media only screen and (max-width: 1298px) {
    .nav__element--text {
        display: none;
    }
    .header {
        min-width: 69px;
        
        &__top {
            align-items: flex-end;
        }
        &__profile {
            &--info {
                display: none;
            }
            &--option {
                display: none;
            }
        }
    }
}
